
.center
{
  display:flex;
  justify-content: center;

}
.container
{
  width:70%;
  margin:auto;
  text-align: center;

}
.card
{
  position: relative;
  width:25%;
  min-width: 350px;
  text-align: center;
  margin:auto;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.card2{
  position: relative;
  width:70%;
  margin:auto;
}

.top
{
  margin-top: 140px;
  margin-bottom:20px;
  font-family: 'Quicksand', sans-serif;
}
.sample
{
  background-color: white;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0.5;
  z-index: -1;
}
.lin {
  min-width: 100px;
}